<!DOCTYPE html>
<html lang="EN">
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>


    <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>


    <script src="chat.js"></script>
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('clock').innerHTML =
                h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
            return i;
        }
    </script>
    <title>Scheduled Jobs App</title>
</head>

<body onload="startTime()">
<header>
    <h1>Super Jobs Dashboard  <span id="clock"></span></h1>

</header>

<section id="chatroom">
    <section id="feedback"></section>
</section>

<section id="input_zone">
    <input id="message" class="vertical-align" type="text" />
<!--    <input id="datetimepicker1" class="vertical-align" type="text" />-->
    <div class="vertical-align" id="picker">
        <div >
            <div >
                <div >
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" id="picker" />
                        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker({
                       format: 'YYYY-MM-DD HH:mm:ss'
                    });
                });
            </script>
        </div>
    </div>
    <button id="send_message" class="vertical-align" type="button">Schedule</button>
</section>
<section>
    <p>
        Usage:
        <code style="background-color:black;color:white;">curl -X PUT https://nodejs-jobs-api.herokuapp.com/api/jobs/${timestamp}?msg=hello%20world</code> <br>
            Where timestamp is Epoch timestamp (https://www.epochconverter.com/)
        <br>
        example:
        <code style="background-color:black;color:white;">curl -X PUT https://nodejs-jobs-api.herokuapp.com/api/jobs/1573125630?msg=hello%20world</code>
        <br>
        <br>
        © 2019 <a href="https://github.com/yohayg/nodejs-jobs-api">https://github.com/yohayg/nodejs-jobs-api</a>
        © 2019 <a href="https://github.com/yohayg/nodejs-jobs-scheduler">https://github.com/yohayg/nodejs-jobs-scheduler</a>
    </p>
</section>
</body>
</html>

